.ToggleBtn {
    width: 35px;
    height: 4px;
    background-color: white;
    margin: 6px 6px;
    display: block;

}

.Container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

